body {
	font-family: "Oxanium", cursive;
	background-color: hsl(0, 1%, 86%);
	color: #3f3a3a;
}

body::before{
    content: "";
    background-image: url(../img/fundo.png);
	background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -2;
    opacity: 0.2;
    
}

.logo {
	width: 350px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.cabecalho {
	display: flex;
	justify-content: center;
}

.selecao-de-personagens {
	display: flex;
	align-items: center;
	gap: 30px;
    min-height: calc(100vh - 152px);
    justify-content: center;
}

.lista-de-personagens {
	width: 100%;
	height: 100%;
}

.bone {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	word-break: normal;
	margin-right: 0.1%;
}

.bthwo {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	word-break: normal;
	margin-left: 0%;
}


.selecao-de-personagens .lista-de-personagens {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.selecao-de-personagens .personagens .titulo {
	font-size: 20px;
	letter-spacing: 4px;
	text-transform: uppercase;
	border-bottom: 2px solid #08fcc7;
	width: 100%;
	text-align: center;
}

.lista-de-personagens .personagem img {
	width: 95px;
	height: 105px;
	background-color: transparent;
	padding: 9px 9px;
}

.lista-de-personagens .personagem.selecionado {
	box-shadow: transparent;
	border-bottom: 2px solid #08fcc7;
}

.personagem-selecionado {
    text-align: center;
    max-height: 530px;
}

.personagem-selecionado .personagem-grande{
    height: 200px;
}

.personagem-selecionado .nome-personagem{
    border-bottom: 2px solid #08fcc7;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.personagem-selecionado .descricao-personagem{
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    margin-top: 20px;
    width: 450px;
}


